node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Ignore heavy local media folders so they are not pushed to Git
public/music
public/background
public/thumbnails
